{
   :settings {
      :add-traybar-icon true
      :probing-interval 60
   }

   :tasks {
      :sleep {
         :active { :message "computer is sleepy"
                   :command "xautolock -time 10 -locker 'systemctl suspend' -detectsleep"
                   :fork    true }

         :idle   { :message "computer is wide awake"
                   :command "xautolock -exit"
                   :fork    false } }

      :dpms {
         :active { :message "screen is sleepy"
                   :command "xset dpms 0 600 900"
                   :fork    false }

         :idle   { :message "screen is wide awake"
                   :command "xset -dpms"
                   :fork    false } }
   }

   :watches {
      :important-processes {
         :enabled true
         :command "pgrep -af '^dpkg\\b|^pacman\\b|^dar\\s|\\bgparted\\b|^k3b\\b|^/\\S*rclone\\b|^/\\S*rsync\\b|^ssh\\s|^sshd:.*\\[priv\\]|^unison\\S*|\\bgsmartcontrol\\b|^ffmpeg\\s'"
         :tasks   { :sleep true } }

      :audio {
         :enabled true
         :command "pgrep -l '^(clementine|deadbeef\\S+|quodlibet)$'"
         :tasks   { :sleep true } }

      :pulseaudio {
         :enabled true
         :command "pactl list short sinks | grep -E '\\bRUNNING$'"
         :tasks   { :sleep true } }

      :video {
         :enabled true
         :command "pgrep -l '^(celluloid|hypnotix|skypeforlinux|teams|vlc|zoom)$'"
         :tasks   { :dpms  true
                    :sleep true } }

      :zfs-scrub {
         :enabled true
         :command "zpool status | grep -E '(resilver|scrub) in progress'"
         :tasks   { :sleep true } }
   }
}
